@charset "UTF-8";


/*-------------------------
	初期値
-------------------------*/
html {
	font-size: 62.5%;
}

body {
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	color: #333333;
	font-size: 1.6rem;
	line-height: 2;
	font-feature-settings: "palt";
}

ul li {
	list-style-type: none;
}

a {
	font-weight: bold;
	text-decoration: none;
}

a:link {
	color: yellow;
}

a:visited {
	color: purple;
}

a:hover {
	color: purple;
}


/*-------------------------
	グローバル
-------------------------*/

.container {
	width: 1100px;
	margin: auto;
}

.gl-header {
	height: 100px;
	width: 100px;
}

.gl-header h1 {
	width: 100%;
	background-color: gray;
	color: white;
}

.gl-navi a {

}

main p {
	padding-bottom: 20px;
}

.gl-footer {
	background-color: grey;
	height: 80px;
	width: 100%;
	padding-top: 15px;
	text-align: center;
}

.gl-footer small {
	font-size: 16px;
	color: white;
}